<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Illumine-i</title>
    
    <link rel="stylesheet" href="frontpage.css">
</head>

<body>
    <header>
        <h1>Welcome to Illumine-i</h1>
    </header>

    <div class="container">
      <div class="text-center">
        <h1>Empower Your Business with Illumine-i</h1>
        <p>Discover cutting-edge technology and sustainable solutions tailored to your needs. Whether managing your solar system or accessing our services, step into a realm of efficiency and excellence.</p>
      </div>
        <a href="/login" class="button">Admin Login</a>
        <a href="/formpage" class="button">Client Registration</a>
    </div>

    <footer>
        &copy; 2023 Illumine-i. All rights reserved.
    </footer>
</body>

</html>
