 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #faeded;
        }

       
  h1 {
        text-align: center;
        background-color: #972de2;
        color: #fff;
        padding: 10px;
        }

  form {
        text-align: left;
        margin: 0 auto;
        max-width: 690px;
        }

/*Increase input and textarea size*/

form input[name="remark"],
form textarea {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 10px;
}


    button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px; 
    background-color: #1f08f0; 
    color: #fff; 
    border: 2px solid #344ec4; 
    border-radius: 10px; 
    
    font-size: 20px; 
}
footer {
    background: #333;
    padding: 20px 0;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; 
}


